# Gradle
.gradle/
build/
app/build/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/

# OS
.DS_Store
Thumbs.db

# Local configuration file (sdk path, etc)
local.properties
# Codemagic
build/
*.keystore
hs_err_pid*.log
replay_pid*.log
